
<div class='table-responsive'>
<table class='table'
    *ngIf='products && products.length'>
<thead>
 <tr>
   <th>Product</th>
   <th>Code</th>
   <th>Quantity</th>
   <th>Price</th>
   <th>SubTotal</th>
 </tr>
</thead>
<tbody>
 <tr *ngFor='let product of products'>
   <td>
     <img 
          [src]='product.imageUrl'
          [title]='product.productName'
          [style.width.px]='50'
          [style.margin.px]='2'>
     <a [routerLink]="['/products', product.productId]">
       {{ product.productName }}
     </a>
   </td>
   <td>{{ product.productCode }}</td>
   <td>
   <button type="button" (click)="minus(product)"> <i class="fa fa-minus"></i></button>
    <input type="text" [value]="product.quantity" style="width: 30px;">
    <button type="button" (click)="plus(product)"> <i class="fa fa-plus"></i></button>  &nbsp;
   </td>
   <td>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</td>
   <td>{{ product.price * product.quantity | currency:'USD':'symbol':'1.2-2'}}</td>
 </tr>
 <tr>
    <!--div class='card-footer'-->
        <button routerLink="/cart" (click)="checkoutFinal()" class="button fancy-button">Checkout</button>
    <!--/div-->
    </tr>
</tbody>
<tbody>
    
</tbody>

</table>
</div>

